.bg {
  background-color: rgb(255, 227, 170);
}
.left-text {
  padding-top: 14%;
  padding-left: 12%;
}
.text {
  font-size: 50px;
}
.btn-custom {
  background-color: rgb(248, 191, 86);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 25px;
}

#hero-btn {
  text-decoration: none;
  color: rgb(184, 137, 18);
  background-color: rgb(255, 250, 238);
}
